    
  <!-- Site footer -->
  <footer class="site-footer">
   
    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"></span>
    </a>
   
    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h5><b>About</b></h5>
          <br>
          <p class="text-justify">Our web-app enables the candidates looking for Jobs in their domains. It has a simple and convenient user interface so that Job seekers can register themselves with their resumes and they can look up different jobs according to their qualifications.It makes the potential candidates and employees get connected and get more knowledge. Job seekers can also update their skill sets whenever they want. Employees can also register and publish their jobs which enables them to find the right candidates for the vacant positions. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h5><b>&emsp;&emsp;Company</b></h5>
          <br>
          <ul class="footer-links">
            <li><a href="{% url 'jobapp:about-us' %}">About us</a></li>
            <li><a href="{% url 'jobapp:contact-us' %}">Contact us</a></li>
            <li><a href="{% url 'jobapp:category' %}">Category</a></li>
            <li><a href="{% url 'jobapp:job-list' %}">Job for you</a></li>
            <li><a href="page-typography.html">How it works</a></li>
            <li><a href="page-typography.html">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h5><b>&emsp;&emsp;Trending jobs</b></h5>
          <br>
          <ul class="footer-links">
            <li><a href="job-list.html">Developer</a></li>
            <li><a href="job-list.html">Cloud Computing </a></li>
            <li><a href="job-list.html">Computer Network </a></li>
            <li><a href="job-list.html">Computer Support </a></li>
            <li><a href="job-list.html">Information Security </a></li>
            <li><a href="job-list.html">Database Administrator</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="{% url 'jobapp:home' %}" target="_blank">Jobporium</a>
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="footer-social">
            <a href="https://www.facebook.com/profile.php?id=100007049733297"><span class="icon-facebook"></span></a>
            <a href="https://twitter.com/Cedkathy"><span class="icon-twitter"></span></a>
            <a href="https://www.instagram.com/lavanyaaa11/"><span class="icon-instagram"></span></a>
            <a href="https://www.linkedin.com/in/jeevithaa-sathiyanarayanan/"><span class="icon-linkedin"></span></a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->