{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- BLOG SINGLE PAGE -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');"
    id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-breadcrumbs mb-0">
                    <span class="slash">Posted by</span> Admin</a>
                    <span class="mx-2 slash">&bullet;</span>
                    <span class="text-white"><strong>April 15, 2019</strong></span>
                </div>
                <h1 class="text-white">Django for Beginners in 2021</h1>
            </div>
        </div>
    </div>
</section>
<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-content">
                
                <p class="lead">Hello guys, you may know that Python is a multi-purpose programming language meaning that you can use it in different fields such as GUI application, Artificial intelligence, and web application, and much more, just to name a few.
                    Apart from Data Science, Web development is another area where Python really shines because of its awesome tools, libraries, and frameworks. And, when we talk about web applications, one of the best python frameworks that are popular is the Django framework which allows you to create a Python web application very quickly and easily.
                </p>
                <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img src="{% static 'images/job_single_img_1.gif' %}" alt="Image" class="img-fluid rounded"></p>
                <p>Django is a powerful Python framework that is used to create web applications, this tool is considered one of the best web development frameworks to develop websites that work with databases such as content management systems (CMS), customer relationship management (CRM), Object Relational Mapping (ORM), and much more.</p>
                <blockquote>
                    <p>If you are getting started with web development in Python or want to become a Python web developer and looking for some online training courses to learn Django then you have come to the right place.</p>
                </blockquote>
                <p>In this blog post, we will see some of the best Django courses that are designed to take to to the advanced level on how to use this framework to create your own web application.</p>
                <h4 class="mt-5 mb-4">3 Best Udemy and Coursera Online Courses to learn Django</h4>
                <p><b>1. Python Django Dev To Deployment</b><br>
                    If you want to learn Django and web development through practical exercises, then this course is the right for you. This course is designed to take you to an advanced level of web development from the beginning of the python programming language basic syntax until the deployment of the web application.
                    Here are the main things you will learn in this course:
                    <ul>
                        <li>How to use Python even if you are a beginner.</li>
                        <li>Building a real estate website with Django and PostgreSQL.</li>
                        <li>Building a virtual environment and deploying the web app.</li>
                      </ul> 
                </p>
                <p><b>2. Django and Python: complete BUNDLE + Django real project 2021</b><br>
                    In this complete course on Django, you see how to use Python first from beginning to advance than will take you to use Django as a professional developer and learn how to design a good user interface, sending emails, web scrapping, security, advanced search and much more that you can explore. Here are the main things you will learn in this course:
                   <br> <ul>
                        <li>How to create real websites in Python Django.</li>
                        <li>How to create and run real-world text-based RPG game.</li>
                        <li>How to use the Django and Bootstrap frameworks.</li>
                      </ul> 
                </p>
                <p><b>3. Django: Getting Started</b><br>
                    If you recently completed a python course and you want to jump into some introduction to web application development, then I will suggest this Django Fundamentals course offered in Pluralsight to you.
                    As the name speaks for itself, it shows you how to create and build a complete web application after going to the basics of this framework. After that, you will see how to style pages using Django templates and adding URLs to these pages, handle user interaction, and more.
                    Here are the main things you will learn in this course:
                    <ul>
                        <li> Basics of the Django framework.</li>
                        <li>Create attractively styled pages using Django templates.</li>
                        <li>Store and manipulate data with API and a user interface.</li>
                      </ul>
                </p>
                <div class="pt-5">
                    <p>Categories: <a href="#">Design</a>, <a href="#">Events</a> Tags: <a href="#">#html</a>, <a
                            href="#">#trends</a></p>
                </div>
                <div class="pt-5">
                </ul>

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary btn-md">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar pl-lg-5">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control form-control-lg"
                                placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box">
                    <img src="{% static 'images/dj.jpg' %}" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
                    <h3>About Django</h3>
                    <p>Django is a Python-based free and open-source web framework that follows the model-template-views architectural pattern. It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit.</p>
                    <p><a href="https://en.wikipedia.org/wiki/Django_(web_framework)" class="btn btn-primary btn-sm">Read More</a></p>
                </div>
                <div class="sidebar-box">
                    <div class="categories">
                        <h3>Categories</h3>
                        <li><a href="{% url 'jobapp:job-list' %}">Cloud Computing <span>(22)</span></a></li>
                        <li><a href="{% url 'jobapp:job-list' %}">Computer Network  <span>(37)</span></a></li>
                        <li><a href="{% url 'jobapp:job-list' %}">Computer Support <span>(42)</span></a></li>
                        <li><a href="{% url 'jobapp:job-list' %}">Web Development <span>(14)</span></a></li>
                        <li><a href="{% url 'jobapp:job-list' %}">Information Security <span>(42)</span></a></li>
                        <li><a href="{% url 'jobapp:job-list' %}">Database Administrator<span>(12)</span></a></li>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}