{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');"
    id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Category</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Category</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section services-section bg-light block__62849" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-code d-block"></span></span>
                    <h3>Software/Application Developer</h3>
                    <p>Software developers design, run, and test various computer programs and applications. Application Developers create new applications and code solutions. They usually have a bachelor’s degree in computer science or a related field. They also have strong programming skills.The BLS expects the number of software developer jobs to grow by 22% between 2019 and 2029. The median salary of a software developer is $107,510.</p>
                </a>
            </div>
          
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-database d-block"></span></span>
                    <h3>Database Administrator</h3>
                    <p>Database administrators help store and organize data or companies and/or customers. They protect the data from unauthorized users. Some work for companies that provide computer design services. Others work for organizations with large database systems, such as educational institutions, financial firms, and more.These jobs are growing at a faster-than-average rate, with an expected 10% growth </p>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
                    <h3>Cloud Computing Engineer</h3>
                    <p>Cloud computing engineers define, design, build, and maintain systems and solutions leveraging systems and infrastructure managed by cloud providers such as Amazon Web Services (AWS) and Microsoft Azure.As a Cloud Developer you may be required to pick up some development skills and understand scripting. As a Cloud Administrator you will be rquired to have knowledge on working of Administrative roles.</p>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-server d-block"></span></span>
                    <h3>Computer Network Specialist</h3>
                    <p>Computer network specialists and analysts define, design, build, and maintain a variety of data communication networks and systems. They typically have a bachelor’s degree in computer science or a related field. Some also have a master’s degree in business administration (MBA), with a focus on information systems.Computer network architects can earn notably high salaries: according to the BLS, the median salary for this role is $112,690. </p>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="custom-icons mx-auto"><span class="icon-lock d-block"></span></span></span>
                    <h3>Information Security Specialist </h3>
                    <p>The increased incidence of security breaches and the associated danger of identity theft has enhanced the importance of protecting data on commercial and governmental sites. Information security analysts help defend an organization’s computer network and computer systems.They plan and carry out a variety of security measures, such as installing and using software, and simulating cyber-attacks to test systems. </p>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
                <a href="{% url 'jobapp:job-list' %}" class="block__16443 text-center d-block">
                    <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
                    <h3>Computer Support Specialist</h3>
                    <p class="d-sm-block">Computer support specialists and network administrators help computer users and organizations. Some of these workers support computer networks by testing and evaluating network systems and ensuring that the day-to-day operations work. Others provide customer service by helping people with their computer problems. Some require a bachelor’s degree, while others need an associate degree or post-secondary classes. </p>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}