{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOW IT WORKS -->
<section class="section-hero overlay inner-page bg-image"
    style="background-image:  url('{% static 'images/hero_1.jpg' %}');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">How it works</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>How it works</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section" id="accordion">
    <div class="container">
        <div class="row accordion justify-content-center block__76208">
            <div class="col-lg-6">
                <img src="{% static 'images/person_6.gif' %}" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-5 ml-auto">
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block h4" data-toggle="collapse" href="#collapseFive" role="button"
                            aria-expanded="true" aria-controls="collapseFive">What is the name of your company<span
                                class="icon"></span></a>
                    </h3>
                    <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>Jobporium enables the candidates looking for Jobs in their domains. It has a simple and convenient user interface so that Job seekers can register themselves with their resumes and they can look up different jobs according to their qualifications.It makes the potential candidates and employees get connected and get more knowledge. Job seekers can also update their skill sets whenever they want. Employees can also register and publish their jobs which enables them to find the right candidates for the vacant positions.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block h4" data-toggle="collapse" href="#collapseSix" role="button"
                            aria-expanded="false" aria-controls="collapseSix">How much pay for 3 months?<span
                                class="icon"></span></a>
                    </h3>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>Yes, you will be given stripend according to the company.You can see real learning and experience value in the internship that you cannot get anywhere else. And that will be of value to your career, regardless of where you are next employed. In other words, the internship has to have more benefit than just the possibility of a job.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block h4" data-toggle="collapse" href="#collapseSeven" role="button"
                            aria-expanded="false" aria-controls="collapseSeven">Do I need to register? <span
                                class="icon"></span></a>
                    </h3>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>You need to register.For jobseeer, one can post their resumes with personal and professional details.For recruiter, one can post vacancy details and update the details as and when necessary. </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block h4" data-toggle="collapse" href="#collapseEight" role="button"
                            aria-expanded="false" aria-controls="collapseEight">Who should I contact in case of
                            support.<span class="icon"></span></a>
                    </h3>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>Call Us Toll Free: 1800­-102-5557

                                (9.00 AM to 9.00PM IST)
                                International Customer Call: +91-120-4021100
                                For Bulk queries call: 18001034477
                            
                                Walk in to the nearest branch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title mb-3">Happy Candidates Says</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="block__87154 bg-white rounded">
                    <blockquote>
                        <p>&ldquo;Ipsum harum assumenda in eum vel eveniet numquam cumque vero vitae enim cupiditate
                            deserunt eligendi officia modi consectetur. Expedita tempora quos nobis earum hic ex
                            asperiores quisquam optio nostrum sit&rdquo;</p>
                    </blockquote>
                    <div class="block__91147 d-flex align-items-center">
                        <figure class="mr-4"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                        <div>
                            <h3>Elisabeth Smith</h3>
                            <span class="position">Creative Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block__87154 bg-white rounded">
                    <blockquote>
                        <p>&ldquo;Ipsum harum assumenda in eum vel eveniet numquam, cumque vero vitae enim cupiditate
                            deserunt eligendi officia modi consectetur. Expedita tempora quos nobis earum hic ex
                            asperiores quisquam optio nostrum sit&rdquo;</p>
                    </blockquote>
                    <div class="block__91147 d-flex align-items-center">
                        <figure class="mr-4"><img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid"></figure>
                        <div>
                            <h3>Chris Peter</h3>
                            <span class="position">Web Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
